/* Helper class start */
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700px;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* Helper class end */